<div>
    <h2>Select Task Type</h2>
    <button onclick="location.href='/addTask/school'">Add School-Related Task</button>
    <button onclick="location.href='/addTask/organization'">Add Organizational Task</button>
    <button onclick="location.href='/addTask/ClassSchedule'">Add Class Time</button>
    <button onclick="location.href='/'">Back Home</button>

</div>