<h1>Hi <%= name %> welcome to your Dashboard</h1>

<!-- New Add Task Button -->
<form action="/addTask" method="GET">
    <button type="submit">Go to Add Task</button>
</form>

<form action="/logout?_method=Delete" method="POST">
    <button type="submit">Logout</button>
</form>